<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CIA 2 - Alpha-Beta Pruning & Min-Max</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>CIA 2 - Alpha-Beta Pruning & Min-Max</h1>
    <ul>
        <li><a href="/get_file/Alpha_Beta_Pruning.py">Alpha-Beta Pruning</a></li>
        <li><a href="/get_file/Min_Max.py">Min-Max Algorithm</a></li>
    </ul>
    <a href="/">Back to Dashboard</a>
</body>
</html>
